#{extends 'frame_main.html' /}

%{
    def user = controllers.Secure.getAdmin();
}%

<div class="doc">
	<table id="dg" title="计划生育基本情况表管理" class="easyui-datagrid" style="width:800px;height:400px"  
	        url="@{Planning.list(keyword, department)}" toolbar="#toolbar" pagination="true"  
	        rownumbers="true" fitColumns="true" singleSelect="true">
	    <thead>
	        <tr>
	            <th field="departmentName" width="72">单位</th>
	            <th field="maleWorker" width="72">男职工数</th>
	            <th field="femaleWorker" width="72">女职工数</th>
	            <th field="cerclage" width="72">环扎数</th>
	            <th field="cerclageRate" width="72">环扎率</th>
	            <th field="bornTotal" width="72">出生总数</th>
	            <th field="statusName" width="72">当前状态</th>
	            <th field="modifyAt" width="72">修改时间</th>
	            <th field="createAt" width="72">创建时间</th>  
	        </tr>  
	    </thead>  
	</table>
	
	<div id="toolbar">
		#{if user.isAdmin}
	    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="doCreate('生成计划生育基本情况表，如果您之前生成过该报表，新生成的会将之前的覆盖。', '@{Planning.add}')">生成报表</a>  
	    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-edit" plain="true" onclick="doEdit('修改计划生育基本情况表', '@{Planning.update}')">修改报表</a>
	    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="doDestroy('确定不通过这个计划生育基本情况报表吗？\n如果是本部门的会直接删除，非本部门的会打回处理。', '@{Planning.back}')">打回报表</a>
	    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="doPass('确定通过这个计划生育基本情况报表吗？\n会进入下一级部门处理。', '@{Planning.pass}')">审批通过</a>
	    #{/if}
	    <a href="@{Planning.report(keyword, department)}" class="easyui-linkbutton" iconCls="icon-print" plain="true">导出Excel</a>  
	</div>  
	  
	<div id="dlg" class="easyui-dialog" style="width:480px;height:320px;padding:10px 20px" closed="true" buttons="#dlg-buttons">  
	    <div class="ftitle">随访记录信息</div>  
	    <form id="fm" method="post" novalidate>
	        <div class="fitem">  
	            <label>年初人口数:</label>  
	            <input name="beginPopulation" class="easyui-validatebox">  
	        </div>
	        <div class="fitem">  
	            <label>年末人口数:</label>  
	            <input name="endPopulation" class="easyui-validatebox">  
	        </div>
	        <div class="fitem">  
	            <label>男职工数:</label>  
	            <input name="maleWorker" class="easyui-validatebox">  
	        </div>
			<div class="fitem">  
	            <label>女职工数:</label>  
	            <input name="femaleWorker" class="easyui-validatebox">  
	        </div>
			<div class="fitem">  
	            <label>育龄妇女数:</label>  
	            <input name="childBearingAge" class="easyui-validatebox">  
	        </div>
			<div class="fitem">  
	            <label>已婚育龄妇女数:</label>  
	            <input name="marriedChildBearingAge" class="easyui-validatebox">  
	        </div>
			<div class="fitem">  
	            <label>已婚未育妇女数:</label>  
	            <input name="marriedNotBrood" class="easyui-validatebox">  
	        </div>
			<div class="fitem">  
	            <label>一孩妇女数:</label>  
	            <input name="childWomens" class="easyui-validatebox">  
	        </div>
			<div class="fitem">  
	            <label>环扎数:</label>  
	            <input name="cerclage" class="easyui-validatebox">  
	        </div>
			<div class="fitem">  
	            <label>环扎率:</label>  
	            <input name="cerclageRate" class="easyui-validatebox">  
	        </div>
			<div class="fitem">  
	            <label>领独生子女证人数:</label>  
	            <input name="childCard" class="easyui-validatebox">  
	        </div>
			<div class="fitem">  
	            <label>二孩及以上妇女数:</label>  
	            <input name="childrenWomens" class="easyui-validatebox">  
	        </div>
			<div class="fitem">  
	            <label>放环数:</label>  
	            <input name="putRing" class="easyui-validatebox">  
	        </div>
			<div class="fitem">  
	            <label>放环率:</label>  
	            <input name="putRingRate" class="easyui-validatebox">  
	        </div>
			<div class="fitem">  
	            <label>结扎数:</label>  
	            <input name="ligation" class="easyui-validatebox">  
	        </div>
			<div class="fitem">  
	            <label>结扎率:</label>  
	            <input name="ligationRate" class="easyui-validatebox">  
	        </div>
			<div class="fitem">  
	            <label>出生总数:</label>  
	            <input name="bornTotal" class="easyui-validatebox">  
	        </div>
			<div class="fitem">  
	            <label>一孩:</label>  
	            <input name="child" class="easyui-validatebox">  
	        </div> 
			<div class="fitem">  
	            <label>二孩及以上:</label>  
	            <input name="children" class="easyui-validatebox">  
	        </div>
			<div class="fitem">  
	            <label>女性初婚:</label>  
	            <input name="womenFirstMarriage" class="easyui-validatebox">  
	        </div>
			<div class="fitem">  
	            <label>23岁以上女性人数:</label>  
	            <input name="womens23years" class="easyui-validatebox">  
	        </div>
			<div class="fitem">  
	            <label>男性初婚:</label>  
	            <input name="menFirstMarriage" class="easyui-validatebox">  
	        </div>
			<div class="fitem">  
	            <label>25岁以上男性人数:</label>  
	            <input name="men25years" class="easyui-validatebox">  
	        </div>
			<div class="fitem">  
	            <label>期末选用各种避孕人数:</label>  
	            <input name="finalSelection" class="easyui-validatebox">  
	        </div>
			<div class="fitem">  
	            <label>男扎:</label>  
	            <input name="finalMaleFirm" class="easyui-validatebox">  
	        </div>
			<div class="fitem">  
	            <label>女扎:</label>  
	            <input name="finalFemaleFirm" class="easyui-validatebox">  
	        </div>
			<div class="fitem">  
	            <label>放环:</label>  
	            <input name="finalPutRing" class="easyui-validatebox">  
	        </div>
			<div class="fitem">  
	            <label>皮埋:</label>  
	            <input name="finalSkinBuried" class="easyui-validatebox">  
	        </div>
			<div class="fitem">  
	            <label>用套:</label>  
	            <input name="finalCondoms" class="easyui-validatebox">  
	        </div>
			<div class="fitem">  
	            <label>外用:</label>  
	            <input name="finalExternal" class="easyui-validatebox">  
	        </div>
			<div class="fitem">  
	            <label>其他:</label>  
	            <input name="finalOther" class="easyui-validatebox">  
	        </div>
			<div class="fitem">  
	            <label>现孕:</label>  
	            <input name="now" class="easyui-validatebox">  
	        </div>
			<div class="fitem">  
	            <label>一孩:</label>  
	            <input name="nowChild" class="easyui-validatebox">  
	        </div>
			<div class="fitem">  
	            <label>二孩及以上:</label>  
	            <input name="nowChildren" class="easyui-validatebox">  
	        </div>
			<div class="fitem">  
	            <label>生在今年:</label>  
	            <input name="bornThisYear" class="easyui-validatebox">  
	        </div>
			<div class="fitem">  
	            <label>生在下年:</label>  
	            <input name="bornNextYear" class="easyui-validatebox">  
	        </div>
			<div class="fitem">  
	            <label>本期施行计划生育手术例数:</label>  
	            <input name="operation" class="easyui-validatebox">  
	        </div>
			<div class="fitem">  
	            <label>男扎:</label>  
	            <input name="operationMaleFirm" class="easyui-validatebox">  
	        </div>
			<div class="fitem">  
	            <label>女扎:</label>  
	            <input name="operationFemaleFirm" class="easyui-validatebox">  
	        </div>
			<div class="fitem">  
	            <label>放环:</label>  
	            <input name="operationPutRing" class="easyui-validatebox">  
	        </div>
			<div class="fitem">  
	            <label>取环:</label>  
	            <input name="operationTakeRing" class="easyui-validatebox">  
	        </div>
			<div class="fitem">  
	            <label>人工流产:</label>  
	            <input name="operationAbortion" class="easyui-validatebox">  
	        </div>
			<div class="fitem">  
	            <label>引产:</label>  
	            <input name="operationInduced" class="easyui-validatebox">  
	        </div>
			<div class="fitem">  
	            <label>汉族独生子女领证率:</label>  
	            <input name="nationality" class="easyui-validatebox">  
	        </div>
			<div class="fitem">  
	            <label>综合节育率:</label>  
	            <input name="comprehensive" class="easyui-validatebox">  
	        </div>
			<div class="fitem">  
	            <label>晚婚率:</label>  
	            <input name="lastMarriage" class="easyui-validatebox">  
	        </div> 
			<div class="fitem">  
	            <label>晚育率:</label>  
	            <input name="lastPregnant" class="easyui-validatebox">  
	        </div>
			<div class="fitem">  
	            <label>负责人:</label>  
	            <input name="charge" class="easyui-validatebox">  
	        </div>
	    </form>  
	</div>
	<div id="dlg-buttons">  
	    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-ok" onclick="doSave()">确定</a>
	    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#dlg').dialog('close')">取消</a>  
	</div>
</div>
<script>
	function doCreate(msg, url) {
		$.messager.confirm('Confirm', msg, function(r){  
            if (r){  
                $.post(url, {}, function(result){
                    if (result.success){
                    	location.reload();
                    } else {  
                        $.messager.show({   // show error message  
                            title: 'Error',  
                            msg: result.error  
                        });  
                    }  
                },'json');  
            }  
        });
	}
	
	function doPass(msg, url) {
		var row = $('#dg').datagrid('getSelected');
        if (row){  
			$.messager.confirm('Confirm', msg, function(r){  
	            if (r){  
	                $.post(url, {id: row.id}, function(result){  
	                    if (result.success){
	                    	location.reload();
	                    } else {  
	                        $.messager.show({   // show error message  
	                            title: 'Error',  
	                            msg: result.error  
	                        });  
	                    }  
	                },'json');  
	            }  
	        });
        }
	}
</script>
