/**
* { padding: 0; margin: 0; font-size: 12px; color: #333; }
**/
a { text-decoration: none; }
a:hover { text-decoration: underline; }
/** 总界面面板 */
#main { width: 100%; position: relative; overflow: hidden; zoom: 1; }
/** 头部区域 */
#headerSpace { left: 0px; top: 0px; height: 48px; position: absolute; width: 100%; text-align: center; font-size: 18px; line-height: 48px; border-bottom: 2px solid #777; }
.user-info { margin-right: 12px; float: right; height: 28px; line-height: 28px; font-size: 12px; }
/** 菜单区域 */
#menuSpace { left: 0px; top: 48px; width: 169px; position: absolute; border-right: 1px solid #777; overflow: auto; }
#menuSpace ul {  }
#menuSpace ul li { padding-left: 12px; line-height: 20px; }
#menuSpace a { color: #777; }
#menuSpace a.on { color: #333; font-weight: bold; font-size: 14px; }
/** 登录区域. */
#loginSpace { left: 0px; top: 48px; width: 100%; position: absolute; }
#loginSpace table { width: 400px; margin: 32px auto; }
#loginSpace table td { line-height: 32px; }
#loginSpace input { width: 220px; }
#loginSpace .login-error { color: #F00; }
#loginSpace button {  }

#modifySpace h2 { text-align: center; font-size: 2em; border-bottom: 2px solid #ccc; margin: 12px auto; padding-bottom: 12px; }
#modifySpace table { width: 400px; margin: 32px auto; }
#modifySpace table td { line-height: 32px; }
#modifySpace input { width: 220px; }
#modifySpace .modify-error { color: #F00; }
/*搜索框*/	
.right_side_top{
	height:60px;
	margin-top:10px;
	*margin-top:10px;
	margin-left:10px;
	*margin-left:10px;
	width:775px;
	background-color:#ffffff;
	border:#c9e2f7 1px solid;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	background-color:#f4f9fd;

	padding-left:20px;
	font-size:12px;
	}
	.right_side_top{
		padding-top:30px;
	}
/** 内容显示区域 */
#frameSpace {position: absolute; padding: 4px; }
/** 底部区域 */
#footerSpace { left: 0px; position: absolute; width: 100%; height: 36px; text-align: center; line-height: 36px; border-top: 2px solid #777; }

.doc { padding: 8px; }