#{extends 'frame_main.html' /}

%{
    def user = controllers.Secure.getAdmin();
}%

<div class="doc">
	<table id="dg" title="休长假职工情况管理" class="easyui-datagrid" style="width:800px;height:400px"  
	        url="@{Furlough.list(keyword, department)}" toolbar="#toolbar" pagination="true"  
	        rownumbers="true" fitColumns="true" singleSelect="true">
	    <thead>
	        <tr>
	            <th field="departmentName" width="72">单位</th>
	            <th field="name" width="64">职工姓名</th>  
	            <th field="gender" width="32">性别</th>
	            <th field="nation" width="64">民族</th>
	            <th field="birth" width="72">出生日期</th>
	            <th field="measure" width="64">节育情况</th>
	            <th field="live" width="72">住址</th>
	            <th field="tel" width="72">联系电话</th>
	            <th field="notes" width="72">备注</th>
	        </tr>  
	    </thead>  
	</table>
	
	<div id="toolbar">
		#{if user.isAdmin}
	    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="doNew('新建长假记录', '@{Furlough.add}')">添加长假记录</a>  
	    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-edit" plain="true" onclick="doEdit('修改长假记录', '@{Furlough.update}')">修改长假记录</a>  
	    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="doDestroy('确定要删除这条长假记录吗？', '@{Furlough.del}')">删除长假记录</a>
	    #{/if}
	    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-search" plain="true" onclick="doDetail()">查看详情</a>
	    <a href="@{Furlough.report(keyword, department)}" class="easyui-linkbutton" iconCls="icon-print" plain="true">导出Excel</a>  
	</div>
	
	<div id="detail" class="easyui-dialog" style="width:480px;height:320px;padding:10px 20px" closed="true">  
	    <div class="ftitle">休长假职工情况</div>  
	    <form id="fm" method="post" novalidate>
	        <div class="fitem">  
	            <label>职工姓名:</label><span id="detail_name" />
	        </div>  
	        <div class="fitem">  
	            <label>性别:</label><span id="detail_gender" />
	        </div>
	        <div class="fitem">  
	            <label>民族:</label><span id="detail_nation" />
	        </div>
	        <div class="fitem">  
	            <label>出生日期:</label><span id="detail_birth" />
	        </div>
	        <div class="fitem">  
	            <label>配偶姓名:</label><span id="detail_spouse" />
	        </div>
	        <div class="fitem">  
	            <label>配偶民族:</label><span id="detail_spouseNation" />
	        </div>
	        <div class="fitem">  
	            <label>配偶出生日期:</label><span id="detail_spouseBirth" />
	        </div>
	        <div class="fitem">  
	            <label>配偶工作单位:</label><span id="detail_spouseWork" />
	        </div>
	        <div class="fitem">  
	            <label>节育情况:</label><span id="detail_measure" />
	        </div>
	        <div class="fitem">  
	            <label>住址:</label><span id="detail_live" />
	        </div>
	        <div class="fitem">  
	            <label>电话:</label><span id="detail_tel" />
	        </div>
	        <div class="fitem">  
	            <label>工作单位:</label><span id="detail_departmentName" />
	        </div>
	        <div class="fitem">  
	            <label>备注:</label><span id="detail_notes" />
	        </div>
	        <div class="fitem">  
	            <label>创建时间:</label><span id="detail_createAt" />
	        </div>
	        <div class="fitem">  
	            <label>修改时间:</label><span id="detail_modifyAt" />
	        </div>
	    </form>  
	</div>  
	  
	<div id="dlg" class="easyui-dialog" style="width:480px;height:320px;padding:10px 20px" closed="true" buttons="#dlg-buttons">  
	    <div class="ftitle">休长假职工情况</div>  
	    <form id="fm" method="post" novalidate>
	        <div class="fitem">  
	            <label>职工姓名:</label>  
	            <input name="name" class="easyui-validatebox" required="true">  
	        </div>  
	        <div class="fitem">  
	            <label>性别:</label>
	            <label class="rd"><input name="gender" type="radio" value="男" class="easyui-validatebox">男</label>
	            <label class="rd"><input name="gender" type="radio" value="女" class="easyui-validatebox">女</label> 
	        </div>
	        <div class="fitem">  
	            <label>民族:</label>  
	            <input name="nation" class="easyui-validatebox">  
	        </div>
	        <div class="fitem">  
	            <label>出生日期:</label>  
	            <input name="birth" class="easyui-datebox">  
	        </div>
	        <div class="fitem">  
	            <label>配偶民族:</label>  
	            <input name="spouse" class="easyui-validatebox">  
	        </div>
	        <div class="fitem">  
	            <label>配偶民族:</label>  
	            <input name="spouseNation" class="easyui-validatebox">  
	        </div>
	        <div class="fitem">  
	            <label>配偶出生日期:</label>  
	            <input name="spouseBirth" class="easyui-datebox">  
	        </div>
	        <div class="fitem">  
	            <label>配偶工作单位:</label>  
	            <input name="spouseWork" class="easyui-validatebox">  
	        </div>
	        <div class="fitem">  
	            <label>节育情况:</label>  
	            <input name="measure" class="easyui-validatebox">  
	        </div>
	        <div class="fitem">  
	            <label>住址:</label>
	            <input name="live" class="easyui-validatebox" />
	        </div>
	        <div class="fitem">  
	            <label>电话:</label>
	            <input name="tel" class="easyui-validatebox" />
	        </div>
	        <div class="fitem">  
	            <label>备注:</label>
	            <input name="notes" class="easyui-validatebox" />
	        </div>
	        <div class="fitem">  
	            <label>工作单位:</label>
	            <select id="departmentSel" name="department">
	            	#{list items: divisions, as: 'division'}
	            	<option value="${division._id}">${division.name}</option>
	            	#{/list}
	            </select>
	        </div>
	    </form>  
	</div>  
	<div id="dlg-buttons">  
	    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-ok" onclick="doSave()">确定</a>
	    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#dlg').dialog('close')">取消</a>  
	</div>
</div>
