#{extends 'frame_main.html' /}

%{
    def user = controllers.Secure.getAdmin();
}%

<div class="doc">
	<table id="dg" title="健康档案管理" class="easyui-datagrid" style="width:800px;height:400px"  
	        url="@{HealthArchives.list(keyword, department)}" toolbar="#toolbar" pagination="true"  
	        rownumbers="true" fitColumns="true" singleSelect="true">
	    <thead>
	        <tr>
	            <th field="code" width="48">编号</th>  
	            <th field="name" width="64">姓名</th>
	            <th field="departmentName" width="64">单位</th>
	            <th field="gender" width="32">性别</th>
	            <th field="age" width="32">年龄</th>
	            <th field="home" width="72">家庭地址</th>
	            <th field="tel" width="64">联系电话</th>
	            <th field="dealthDate" width="72">体检日期</th>
	        </tr>  
	    </thead>  
	</table>
	
	<div id="toolbar">
		#{if user.isAdmin}
	    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="doNewHealth('添加健康档案记录', '@{HealthArchives.add}')">添加记录</a>  
	    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-edit" plain="true" onclick="doEditHealth('修改健康档案记录', '@{HealthArchives.update}')">修改记录</a>  
	    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="doDestroy('确定要删除这条健康档案吗？', '@{HealthArchives.del}')">删除记录</a>
	    #{/if}
	    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-search" plain="true" onclick="doDetailHealth()">查看记录详情</a>
	    <a href="@{HealthArchives.report(keyword, department)}" class="easyui-linkbutton" iconCls="icon-print" plain="true" onclick="return doReport(this);">导出Excel</a>
	</div>
	
	<div id="detail" class="easyui-dialog" style="width: 480px; height: 320px; padding: 10px 20px;" closed="true">
		<div class="ftitle">健康档案</div>
        <h2>健康档案信息</h2>
        <div class="fitem">  
            <label>姓名:</label>  
            <span id="detail_name" />  
        </div>
        <div class="fitem">  
            <label>编号:</label>  
            <span id="detail_code" />  
        </div>
        <div class="fitem">  
            <label>性别:</label>  
            <span id="detail_gender" />  
        </div>
        <div class="fitem">  
            <label>年龄:</label>  
            <span id="detail_age" />  
        </div>
        <div class="fitem">  
            <label>家庭住址:</label>  
            <span id="detail_home" />  
        </div>
        <div class="fitem">  
            <label>联系电话:</label>  
            <span id="detail_tel" />  
        </div>
        <div class="fitem">  
            <label>体检日期:</label>  
            <span id="detail_dealthDate" />  
        </div>
        <div class="fitem">  
            <label>报告日期:</label>  
            <span id="detail_reportDate" />  
        </div>
        <div class="fitem">  
            <label>体检地址:</label>  
            <span id="detail_dealthAddress" />  
        </div>
        <div class="fitem">  
            <label>既往病史:</label>  
            <span id="detail_history" />  
        </div>
        <div class="fitem">  
            <label>工作单位:</label>
            <span id="detail_departmentName" />  
        </div>
        
        <h2>检查项</h2>
        <ul id="detailPhysicalList"></ul>
        
        <h2>主检报告</h2>
        <ul id="detailTreatmentList"></ul>
	</div>
	  
	<div id="dlg" class="easyui-dialog" style="width:480px;height:320px;padding:10px 20px" closed="true" buttons="#dlg-buttons">  
	    <div class="ftitle">健康档案信息登记</div>  
	    <form id="fm" method="post" novalidate>
	    	<h2>健康档案信息</h2>
	        <div class="fitem">  
	            <label>姓名:</label>  
	            <input name="name" class="easyui-validatebox" required="true">  
	        </div>
	        <div class="fitem">  
	            <label>编号:</label>  
	            <input name="code" class="easyui-validatebox" required="true">  
	        </div>
	        <div class="fitem">  
	            <label>性别:</label>  
	            <label class="rd"><input name="gender" type="radio" value="男" class="easyui-validatebox">男</label>
	            <label class="rd"><input name="gender" type="radio" value="女" class="easyui-validatebox">女</label> 
	        </div>
	        <div class="fitem">  
	            <label>年龄:</label>  
	            <input name="age" class="easyui-validatebox">  
	        </div>
	        <div class="fitem">  
	            <label>家庭住址:</label>  
	            <input name="home" class="easyui-validatebox">  
	        </div>
	        <div class="fitem">  
	            <label>联系电话:</label>  
	            <input name="tel" class="easyui-validatebox">  
	        </div>
	        <div class="fitem">  
	            <label>体检日期:</label>  
	            <input name="dealthDate" class="easyui-datebox">  
	        </div>
	        <div class="fitem">  
	            <label>报告日期:</label>  
	            <input name="reportDate" class="easyui-datebox">  
	        </div>
	        <div class="fitem">  
	            <label>体检地址:</label>  
	            <input name="dealthAddress" class="easyui-validatebox">  
	        </div>
	        <div class="fitem">  
	            <label>既往病史:</label>  
	            <input name="history" class="easyui-validatebox">  
	        </div>
	        <div class="fitem">  
	            <label>工作单位:</label>
	            <select id="departmentSel" name="department">
	            	#{list items: divisions, as: 'division'}
	            	<option value="${division._id}">${division.name}</option>
	            	#{/list}
	            </select>
	        </div>
	        
	        <h2>检查项</h2>
	        <ul id="physicalList"></ul>
	        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-add" onclick="addPhysical()">添加检查项</a>
	        <input type="hidden" id="physicalIpt" name="physicals" value="" />
	        
	        <h2>主检报告</h2>
	        <ul id="treatmentList"></ul>
	        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-add" onclick="addTreatment()">添加主检报告</a>
	        <input type="hidden" id="treatmentIpt" name="treatments" value="" />
	    </form>  
	</div>  
	<div id="dlg-buttons">  
	    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-ok" onclick="doHealthSave()">确定</a>
	    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#dlg').dialog('close')">取消</a>  
	</div>
	
	<!-- 检查项相关的对话框. -->
	<div id="physical-detail" class="easyui-dialog" style="width: 400px; height: 280px; padding: 10px 20px;" closed="true">
		<div class="ftitle">检查项</div>
		<h2>检查项</h2>
        <div class="fitem">  
            <label>检查项名称:</label>  
            <span id="detail_physical_name" />  
        </div>
        
        <h2>检查项内容</h2>
        <ul id="detailPhysicalInfoList"></ul>
	</div>
	
	<!-- 检查项相关的对话框. -->
	<div id="physical-info-detail" class="easyui-dialog" style="width: 400px; height: 280px; padding: 10px 20px;" closed="true">
		<div class="ftitle">检查项内容</div>
		<h2>检查项</h2>
        <div class="fitem">  
            <label>详情:</label>  
            <span id="detail_physical_info_content" />  
        </div>
        
        <h2>检查结果</h2>
        <div class="fitem">  
            <label>结果:</label>  
            <span id="detail_physical_info_result" />  
        </div>
        <div class="fitem">  
            <label>参考值:</label>  
            <span id="detail_physical_info_reference" />  
        </div>
        <div class="fitem">  
            <label>检查医生:</label>  
            <span id="detail_physical_info_doctor" />  
        </div>
	</div>
	
	<!-- 主检报告相关的对话框. -->
	<div id="treatment-detail" class="easyui-dialog" style="width: 400px; height: 280px; padding: 10px 20px;" closed="true">
		<div class="ftitle">主检报告内容</div>
        <div class="fitem">  
            <label>检查异常结果汇总:</label>  
            <span id="detail_treatment_summary" />  
        </div>
        <div class="fitem">  
            <label>结论:</label>  
            <span id="detail_treatment_conclusion" />  
        </div>
        <div class="fitem">  
            <label>治疗意见或建议:</label>  
            <span id="detail_treatment_treatment" />  
        </div>
        <div class="fitem">  
            <label>健康咨询地址:</label>  
            <span id="detail_treatment_address" />  
        </div>
        <div class="fitem">  
            <label>咨询电话:</label>  
            <span id="detail_treatment_tel" />  
        </div>
        <div class="fitem">  
            <label>主检医生:</label>  
            <span id="detail_treatment_treatmentDoctor" />  
        </div>
	</div>
	
	<div id="treatment-dlg" class="easyui-dialog" style="width:400px;height:280px;padding:10px 20px" closed="true" buttons="#treatment-buttons">  
	    <div class="ftitle">检查项信息</div>  
	    <form id="treatmentForm" method="post" novalidate>
	        <div class="fitem">
	            <label>检查异常结果汇总:</label>
	            <input name="summary" class="easyui-validatebox">
	        </div>
	        <div class="fitem">
	            <label>结论:</label>
	            <input name="conclusion" class="easyui-validatebox">
	        </div>
	        <div class="fitem">
	            <label>治疗意见或建议:</label>
	            <input name="treatment" class="easyui-validatebox">
	        </div>
	        <div class="fitem">
	            <label>健康咨询地址:</label>
	            <input name="address" class="easyui-validatebox">
	        </div>
	        <div class="fitem">
	            <label>咨询电话:</label>
	            <input name="tel" class="easyui-validatebox">
	        </div>
	        <div class="fitem">
	            <label>主检医生:</label>
	            <input name="treatmentDoctor" class="easyui-validatebox">
	        </div>
	    </form>  
	</div>  
	<div id="treatment-buttons">  
	    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-ok" onclick="doTreatmentSave()">确定</a>
	    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#treatment-dlg').dialog('close')">取消</a>  
	</div>
	  
	<div id="physical-dlg" class="easyui-dialog" style="width:400px;height:280px;padding:10px 20px" closed="true" buttons="#physical-buttons">  
	    <div class="ftitle">检查项信息</div>  
	    <form id="physicalForm" method="post" novalidate>
	        <div class="fitem">  
	            <label>检查项名称:</label>  
	            <input name="name" class="easyui-validatebox" required="true">  
	        </div>
	        
	        <h2>检查项内容</h2>
	        <ul id="physicalInfoList"></ul>
	        <a href="javascript:void(0)" class="easyui-linkbutton add-phy-info" iconCls="icon-add" onclick="addPhysicalInfo()">添加检查内容</a>
	        <input type="hidden" id="physicalInfoIpt" name="content" value="" />
	    </form>  
	</div>  
	<div id="physical-buttons">  
	    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-ok" onclick="doPhysicalSave()">确定</a>
	    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#physical-dlg').dialog('close')">取消</a>  
	</div>
	
	<div id="physical-info-dlg" class="easyui-dialog" style="width:400px;height:280px;padding:10px 20px" closed="true" buttons="#physical-info-buttons">  
	    <div class="ftitle">检查项内容</div>  
	    <form id="physicalInfoForm" method="post" novalidate>
	    	<h2>检查项内容</h2>
	        <div class="fitem">  
	            <label>详情:</label>  
	            <input name="content" class="easyui-validatebox" required="true">  
	        </div>
	        
	        <h2>检查结果</h2>
	        <div class="fitem">  
	            <label>结果:</label>  
	            <input name="result" class="easyui-validatebox">  
	        </div>
	        <div class="fitem">  
	            <label>参考值:</label>  
	            <input name="reference" class="easyui-validatebox">  
	        </div>
	        <div class="fitem">  
	            <label>检查医生:</label>  
	            <input name="doctor" class="easyui-validatebox">  
	        </div>
	    </form>  
	</div>  
	<div id="physical-info-buttons">  
	    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-ok" onclick="doPhysicalInfoSave()">确定</a>
	    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#physical-info-dlg').dialog('close')">取消</a>  
	</div>
</div>
<script>
	var curEditHealth;
	/** 新建卡信息 */
	function doNewHealth(title, url) {
		$('#dlg').dialog('open').dialog('setTitle', title);  
        $('#fm').form('clear');
        $('#departmentSel').val('${user.getId()}');
        saveUrl = url;
	}
	/** 编辑卡信息 */
	function doEditHealth(title, url) {
		var row = $('#dg').datagrid('getSelected');  
        if (row) {  
        	curEditHealth = row;
            $('#dlg').dialog('open').dialog('setTitle', title);  
            $('#fm').form('load', row);
            $('#physicalList').html('');
            $('#treatmentList').html('');
            if (!row.department) {
	            $('#departmentSel').val(row.id);
            } else {
            	$('#departmentSel').val(row.department.id);
            }
            if (!!row.physicals) {
            	for (var i = 0, phy; phy = row.physicals[i]; i ++) {
            		var content = [];
            		if (!!phy.physicalInfo && !!phy.physicalInfo.length) {
            			for (var j = 0, info; info = phy.physicalInfo[j]; j ++)
            				content.push(info.content);
            		}
            		renderPhysical(phy.name, content.join('#T#'), phy.result ? phy.result.result : '',
            				phy.result ? phy.result.reference : '', phy.result ? phy.result.doctor : '', phy.id);
            	}
            }
            if (!!row.treatments) {
            	for (var i = 0, tre; tre = row.treatments[i]; i ++) {
            		renderTreatment(tre ? tre.summary : '', tre ? tre.conclusion : '', tre ? tre.treatment : '', 
            				tre ? tre.address : '', tre ? tre.tel : '', tre ? tre.treatmentDoctor : '', tre.id);
            	}
            }
            saveUrl = url + '?id='+row.id;  
        }  
	}
	/** 查看详情 */
	function doDetailHealth() {
		var row = $('#dg').datagrid('getSelected');  
        if (row) {
        	$('#detail').dialog('open').dialog('setTitle', row.name);
        	$('#detailPhysicalList').html('');
        	$('#detailTreatmentList').html('');
        	for (var column in row) {
        		var val = row[column];
        		if (typeof val == 'object') {
        			if (column == 'physicals') {
						for (var i = 0, phy; phy = val[i]; i ++) {
							var content = [];
		            		if (!!phy.physicalInfo && !!phy.physicalInfo.length) {
		            			for (var j = 0, info; info = phy.physicalInfo[j]; j ++)
		            				content.push(info.content);
		            		}
        					renderDetailPhysical(phy.name, content.join('#T#'), phy.result ? phy.result.result : '',
        						phy.result ? phy.result.reference : '', phy.result ? phy.result.doctor : '',
        						phy.treatment ? phy.treatment.summary : '', phy.treatment ? phy.treatment.conclusion : '',
        						phy.treatment ? phy.treatment.treatment : '', phy.treatment ? phy.treatment.address : '',
        						phy.treatment ? phy.treatment.tel : '', phy.treatment ? phy.treatment.treatmentDoctor : '',
        						phy.id);
						}
        			}
        			
        			if (column == 'treatments') {
						for (var i = 0, tre; tre = val[i]; i ++) {
							renderDetailTreatment(tre ? tre.summary : '', tre ? tre.conclusion : '', tre ? tre.treatment : '', 
									tre ? tre.address : '', tre ? tre.tel : '', tre ? tre.treatmentDoctor : '', tre.id);
						}
        			}
        		} else {
        			val = $.trim(val);
        			$('#detail_' + column).text(val || '暂无');
        		}
        	}
        	if (!row['physicals'] || !row['physicals'].length)
        		$('#detailPhysicalList').html('<li>暂无</li>');
        	if (!row['treatments'] || !row['treatments'].length)
        		$('#"detailTreatmentList"').html('<li>暂无</li>');
        }
	}
	/** 查看主检报告详情. */
	function doDetailTreatment(row) {
		row = $(row);
		$('#treatment-detail').dialog('open').dialog('setTitle', row.data('name') || '检查项详情');
		$('#detail_treatment_summary').html(row.data('summary'));
		$('#detail_treatment_conclusion').html(row.data('conclusion'));
		$('#detail_treatment_treatment').html(row.data('treatment'));
		$('#detail_treatment_address').html(row.data('address'));
		$('#detail_treatment_tel').html(row.data('tel'));
		$('#detail_treatment_treatmentDoctor').html(row.data('doctor'));
	}
	/** 查看检查项详情. */
	function doDetailPhysical(row) {
		row = $(row);
		$('#physical-detail').dialog('open').dialog('setTitle', row.data('name') || '检查项详情');
		var content = row.data('content');
		if (!!content.length) {
			$('#detailPhysicalInfoList').html('');
			content = content.split('#T#');
			for (var i = 0, v; v = content[i]; i ++) {
				var html = ['<li>'];
				html.push(v);
				html.push('</li>');
				$('#detailPhysicalInfoList').append(html.join(''));
			}
		} else {
			$('#detailPhysicalInfoList').html('<li>暂无</li>');
		}
		$('#detail_physical_name').html(row.data('name'));
		$('#detail_physical_result').html(row.data('result'));
		$('#detail_physical_reference').html(row.data('reference'));
		$('#detail_physical_doctor').html(row.data('doctor'));
	}
	/** 保存卡信息 */
	function doHealthSave() {
		$('#fm').form('submit',{  
            url: saveUrl,
            dataType: 'text',
            onSubmit: function() {
            	var val = [], physicalIpt = $('#physicalIpt'), treatmentIpt = $('#treatmentIpt');
            	$('#physicalList li').each(function () {
            		var liVal = [], $this = $(this);
            		liVal.push($this.data('name'));
            		liVal.push($this.data('content'));
            		liVal.push($this.data('result'));
            		liVal.push($this.data('reference'));
            		liVal.push($this.data('doctor'));
   					liVal.push($this.data('physicalid'));
   					val.push(liVal.join('#,#'));
            	});
            	physicalIpt.val(val.join('#S#'));
            	
            	val = [];
            	$('#treatmentList li').each(function () {
            		var liVal = [], $this = $(this);
            		liVal.push($this.data('summary'));
            		liVal.push($this.data('conclusion'));
            		liVal.push($this.data('treatment'));
            		liVal.push($this.data('address'));
            		liVal.push($this.data('tel'));
            		liVal.push($this.data('doctor'));
            		liVal.push($this.data('id'));
   					val.push(liVal.join('#,#'));
            	});
            	treatmentIpt.val(val.join('#S#'));
                return $(this).form('validate');  
            },  
            success: function(result){  
                var result = eval('('+result+')');  
                if (result.error){  
                    $.messager.show({  
                        title: 'Error',  
                        msg: result.error  
                    });  
                } else {  
                    $('#dlg').dialog('close');      // close the dialog  
                    $('#dg').datagrid('reload');    // reload the user data  
                }  
            }  
        });  
	}
	/** 保存检查项详情. */
	function doPhysicalInfoSave() {
		
	}
	/** 保存主检报告. */
	function doTreatmentSave() {
		var newTreatment = $('#treatmentForm').serialize();
		if (newTreatment.length > 62) {
			var arr = newTreatment.split('&'), arrVal = [];
			for (var i = 0, str; str = arr[i]; i ++)
				arrVal.push(decodeURIComponent(str.split('=')[1]));
			renderTreatment(arrVal[0], arrVal[1], arrVal[2], arrVal[3], arrVal[4], arrVal[5], null);
			$('#treatment-dlg').dialog('close');
		}
	}
	/** 保存检查项信息. */
	function doPhysicalSave() {
		var infos = [];
		$('.phyInfoIpt').each(function () {
			var infoItem = $(this), val = $.trim(infoItem.val());
			if (!!val)
				infos.push(val);
		});
		$('#physicalInfoIpt').val(infos.join('#T#'));
		var newPhysical = $('#physicalForm').serialize();
		if (newPhysical.length > 41) {
			var arr = newPhysical.split('&'), arrVal = [];
			for (var i = 0, str; str = arr[i]; i ++)
				arrVal.push(decodeURIComponent(str.split('=')[1]));
			renderPhysical(arrVal[0], arrVal[1], arrVal[2], arrVal[3], arrVal[4], null);
			$('#physical-dlg').dialog('close');
		}
	}
	/** 渲染主检报告信息. */
	function renderTreatment(summary, conclusion, treatment, address, tel, doctor, id) {
		var list = $('#treatmentList'), 
			newItem = _renderTreatment(summary, conclusion, treatment, address, tel, doctor, id);
		newItem.push(summary);
		newItem.push('<a href="javascript:void(0)" onclick="removeItem(this.parentNode)" title="删除">X</a>');
		newItem.push('</li>');
		list.append(newItem.join(''));
	}
	/** 渲染检查项信息. */
	function renderPhysical(name, content, result, reference, doctor, id) {
		var list = $('#physicalList'), newItem = _renderPhysical(
				name, content, result, reference, doctor, id);
		newItem.push(name);
		newItem.push('<a href="javascript:void(0)" onclick="removeItem(this.parentNode)" title="删除">X</a>');
		newItem.push('</li>');
		list.append(newItem.join(''));
	}
	
	function renderPhysicalInfo() {
		
	}
	/** 渲染一个主检报告详情 */
	function renderDetailTreatment(summary, conclusion, treatment, address, tel, doctor, id) {
		var list = $('#detailTreatmentList'), newItem = _renderTreatment(
				summary, conclusion, treatment, address, tel, doctor, id);
		newItem.push(summary);
		newItem.push('<a href="javascript:void(0)" onclick="doDetailTreatment(this.parentNode)" title="删除">查看</a>');
		newItem.push('</li>');
		list.append(newItem.join(''));
	}
	/** 渲染一个检查项详情 */
	function renderDetailPhysical(name, content, result, reference, doctor, id) {
		var list = $('#detailPhysicalList'), newItem = _renderPhysical(
				name, content, result, reference, doctor, id);
		newItem.push(name);
		newItem.push('<a href="javascript:void(0)" onclick="doDetailPhysical(this.parentNode)" title="查看">查看</a>');
		newItem.push('</li>');
		list.append(newItem.join(''));
	}
	/** 初始化一个检查项数据 */
	function _renderPhysical(name, content, result, reference, doctor, id) {
		return ['<li ',
             '" data-name="', name,
             '" data-content="', content,
             '" data-result="', result,
             '" data-reference="', reference,
             '" data-doctor="', doctor,
             '" data-physicalid="', id,
             '">'];
	}
	/** 渲染一个主检报告的数据. */
	function _renderTreatment(summary, conclusion, treatment, address, tel, doctor, id) {
		return ['<li ',
	             '" data-summary="', summary,
	             '" data-conclusion="', conclusion,
	             '" data-treatment="', treatment,
	             '" data-address="', address,
	             '" data-tel="', tel,
	             '" data-doctor="', doctor,
	             '" data-treatmentid="', id,
	             '">'];
	}
	/** 删除检查项 */
	function removeItem(elem) {
		$(elem).remove();
	}
	/** 添加检查项 */
	function addPhysical() {
		$('#physicalInfoList').html('');
		$('#physical-dlg').dialog('open').dialog('setTitle', "添加检查项");  
        $('#physicalForm').form('clear');
	}
	/** 修改检查项. */
	function editPhysical() {
		var row = {};
		$('#physical-dlg').dialog('open').dialog('setTitle', "修改检查项");  
        $('#physicalForm').form('load', row);
	}
	/** 添加检查项详情 */
	function addPhysicalInfo() {
		// sjx
		$('#physical-info-dlg').dialog('open').dialog('setTitle', "添加检查项详情");  
        $('#physicalInfoForm').form('clear');
		var list = $('#physicalInfoList'), newItem = ['<li>'];
		newItem.push('详情：<input type="text" value="" class="phyInfoIpt" />');
		newItem.push('<a href="javascript:void(0)" onclick="removeItem(this.parentNode)" title="删除">X</a>');
		newItem.push('</li>');
		list.append(newItem.join(''));
	}
	/** 添加主检报告. */
	function addTreatment() {
		$('#treatment-dlg').dialog('open').dialog('setTitle', "添加主检报告");  
        $('#treatmentForm').form('clear');
	}
	/** 导出报表. */
	function doReport(elem) {
    	var row = $('#dg').datagrid('getSelected');  
        if (row) {
        	elem = $(elem);
        	var url = elem.attr("href");
        	if (url.indexOf('?') != -1) {
        		url += '&id=' + row.id;
        	} else {
        		url += '?id=' + row.id;
        	}
        	location.href = url
        }
        return false;
    }
</script>
<style>
	#treatmentList, #physicalList { list-style: none; }
	#treatmentList li a, #physicalList li a { color: #F33; float: right; margin: 0 4px 0 0px; }
	
	#physicalInfoList { list-style: none; }
	#physicalInfoList li a { color: #F33; float: right; margin: 0 4px 0 0px; }
	
	#detailTreatmentList, #detailPhysicalList, #detailPhysicalInfoList { list-style: none; }
	#detailTreatmentList li, #detailPhysicalList li { padding: 4px 12px 4px 16px; }
	#detailPhysicalInfoList li { padding: 4px 16px 4px 22px; }
	#detailTreatmentList li a, #detailPhysicalList li a { color: #33F; float: right; margin: 0 4px 0 0px; }
	
	.add-phy-info { margin-top: 4px; }
	.phyInfoIpt { width: 220px; margin-bottom: 4px;}
</style>
