#{extends 'frame_main.html' /}

%{
    def user = controllers.Secure.getAdmin();
}%

<div class="doc">
	<table id="dg" title="男职工信息管理" class="easyui-datagrid" style="width:800px;height:400px"  
	        url="@{Workers.list(keyword, department)}" toolbar="#toolbar" pagination="true"  
	        rownumbers="true" fitColumns="true" singleSelect="true">
	    <thead>
	    	<tr>
	    		<th colspan="4">基本信息</th>
	    		<th colspan="2">民族</th>
	    		<th colspan="2">子女</th>
	    		<th colspan="2">节育信息</th>
	    		<th colspan="3">其他</th>
	    	</tr>
	        <tr>
	            <th field="name" width="64">户主</th>  
	            <th field="departmentName" width="72">工作单位</th>
	            <th field="live" width="72">住址</th>
	            <th field="type" width="48">户口</th>
	            <th field="han" width="32">汉族</th>
	            <th field="minority" width="32">少数</th>
	            <th field="boy" width="32">男孩</th>
	            <th field="girl" width="32">女孩</th>
	            <th field="measure" width="64">节育情况</th>
	            <th field="measureDate" width="72">节育时间</th>
	            <th field="createAt" width="72">修改时间</th>
	            <th field="createAt" width="72">创建时间</th>  
	            <th field="notes" width="72">备注</th>
	        </tr>  
	    </thead>  
	</table>
	
	<div id="toolbar">
		#{if user.isAdmin}
	    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="doNew('新建户信息', '@{Workers.add}')">添加男职工</a>  
	    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-edit" plain="true" onclick="doEdit('修改户信息', '@{Workers.update}')">修改男职工</a>  
	    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="doDestroy('确定要删除这个户信息吗？', '@{Workers.del}')">删除男职工</a>
	    #{/if}
	    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-search" plain="true" onclick="doDetail()">查看男职工</a>
	    <a href="@{Workers.report(keyword, department)}" class="easyui-linkbutton" iconCls="icon-print" plain="true">导出Excel</a>  
	</div>  
	
	<div id="detail" class="easyui-dialog" style="width: 480px; height: 320px; padding: 10px 20px;" closed="true">
		<div class="ftitle">男职工信息</div>
		<div class="fitem">  
            <label>职工姓名:</label>  
            <span id="detail_name" />  
        </div>
        <div class="fitem">  
            <label>户编码:</label>  
            <span id="detail_houseCode" />  
        </div> 
        <div class="fitem">  
            <label>汉族人口数:</label>  
            <span id="detail_han" />  
        </div>
        <div class="fitem">  
            <label>少数民族人口数:</label>  
            <span id="detail_minority" />  
        </div>
        <div class="fitem">  
            <label>家庭地址:</label>  
            <span id="detail_live" />  
        </div>
        <div class="fitem">  
            <label>配偶姓名:</label>  
            <span id="detail_woman" />  
        </div>
        <div class="fitem">  
            <label>配偶出生年月:</label>  
            <span id="detail_womanDate" />  
        </div>
        <div class="fitem">  
            <label>结婚时间:</label>  
            <span id="detail_weddingTime" />  
        </div>
        <div class="fitem">  
            <label>户口性质:</label>  
            <span id="detail_type" />  
        </div>
        <div class="fitem">  
            <label>子女数-男口:</label>  
            <span id="detail_boy" />  
        </div>
        <div class="fitem">  
            <label>子女数-女:</label>  
            <span id="detail_girl" />  
        </div>
		<div class="fitem">  
            <label>子女出生日期-最小:</label>  
            <span id="detail_childrenMinDate" />  
        </div>
        <div class="fitem">  
            <label>子女出生日期-最大:</label>  
            <span id="detail_childrenMaxDate" />  
        </div>
        <div class="fitem">  
            <label>禁忌症:</label>  
            <span id="detail_contraindication" />  
        </div>
        <div class="fitem">  
            <label>节育情况:</label>  
            <span id="detail_measure" />  
        </div>
        <div class="fitem">  
            <label>节育时间:</label>  
            <span id="detail_measureDate" />  
        </div>
        <div class="fitem">  
            <label>备注:</label>
            <span id="detail_notes" />
        </div>
        <div class="fitem">  
            <label>工作单位:</label>
            <span id="detail_departmentName" />
        </div>
	</div>
	  
	<div id="dlg" class="easyui-dialog" style="width:480px;height:320px;padding:10px 20px" closed="true" buttons="#dlg-buttons">  
	    <div class="ftitle">男职工信息</div>  
	    <form id="fm" method="post" novalidate>
	        <div class="fitem">  
	            <label>职工姓名:</label>  
	            <input name="name" class="easyui-validatebox" required="true">  
	        </div>
	        <div class="fitem">  
	            <label>户编码:</label>  
	            <input name="houseCode" class="easyui-validatebox" required="true">  
	        </div>
	        <div class="fitem">  
	            <label>汉族人口数:</label>  
	            <input name="han" class="easyui-validatebox">  
	        </div>
	        <div class="fitem">  
	            <label>少数民族人口数:</label>  
	            <input name="minority" class="easyui-validatebox">  
	        </div>
	        <div class="fitem">  
	            <label>家庭地址:</label>  
	            <input name="live" class="easyui-validatebox">  
	        </div>
	        <div class="fitem">  
	            <label>配偶姓名:</label>  
	            <input name="woman" class="easyui-validatebox">  
	        </div>
	        <div class="fitem">  
	            <label>配偶出生年月:</label>  
	            <input name="womanDate" class="easyui-datebox">  
	        </div>
	        <div class="fitem">  
	            <label>结婚时间:</label>  
	            <input name="weddingTime" class="easyui-datebox">  
	        </div>
	        <div class="fitem">  
	            <label>户口性质:</label>  
	            <input name="type" class="easyui-validatebox">  
	        </div>
	        <div class="fitem">  
	            <label>子女数-男口:</label>  
	            <input name="boy" class="easyui-validatebox">  
	        </div>
	        <div class="fitem">  
	            <label>子女数-女:</label>  
	            <input name="girl" class="easyui-validatebox">  
	        </div>
			<div class="fitem">  
	            <label>子女出生日期-最小:</label>  
	            <input name="childrenMinDate" class="easyui-datebox">  
	        </div>
	        <div class="fitem">  
	            <label>子女出生日期-最大:</label>  
	            <input name="childrenMaxDate" class="easyui-datebox">  
	        </div>
	        <div class="fitem">  
	            <label>禁忌症:</label>  
	            <input name="contraindication" class="easyui-validatebox">  
	        </div>
	        <div class="fitem">  
	            <label>节育情况:</label>  
	            <input name="measure" class="easyui-validatebox">  
	        </div>
	        <div class="fitem">  
	            <label>节育时间:</label>  
	            <input name="measureDate" class="easyui-datebox">  
	        </div>
	        <div class="fitem">  
	            <label>备注:</label>
	            <textarea name="notes" class="easyui-validatebox"></textarea>
	        </div>
	        <div class="fitem">  
	            <label>工作单位:</label>
	            <select id="departmentSel" name="department">
	            	#{list items: divisions, as: 'division'}
	            	<option value="${division._id}">${division.name}</option>
	            	#{/list}
	            </select>
	        </div>
	    </form>  
	</div>  
	<div id="dlg-buttons">  
	    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-ok" onclick="doSave()">确定</a>
	    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#dlg').dialog('close')">取消</a>  
	</div>
</div>
