#{extends 'main.html' /}

<div id="main">
	<div id="headerSpace">育龄妇女信息化管理系统<p class="user-info"><span id="userName"
		>${admin.name}</span>，欢迎来到<span>${admin.department.name}</span
		>&nbsp;|&nbsp;<a href="/modify" target="contentSpace">修改密码</a>&nbsp;|&nbsp;<a href="/logout">退出</a></p></div>
	<div id="menuSpace">
		<ul>
			<li><a href="@{Household.index()}" target="contentSpace">户信息管理</a></li>
			<li><a href="@{WomenCard.index()}" target="contentSpace">育龄妇女基础信息管理</a></li>
			<li><a href="@{BirthStatus.index()}" target="contentSpace">出生情况管理</a></li>
			<li><a href="@{Conceive.index()}" target="contentSpace">现孕信息管理</a></li>
			<li><a href="@{Oligogenics.index()}" target="contentSpace">避孕节育措施管理</a></li>
			<li><a href="@{Acyeterion.index()}" target="contentSpace">避孕药品登记</a></li>
			<li><a href="@{OnlyChildren.index()}" target="contentSpace">独生子女领证及奖励</a></li>
			<li><a href="@{BirthOligogenics.index()}" target="contentSpace">出生及节育措施管理</a></li>
			<li><a href="@{Workers.index()}" target="contentSpace">男职工登记管理</a></li>
			<li><a href="@{RentalHouse.index()}" target="contentSpace">出租房屋管理</a></li>
			<li><a href="@{Furlough.index()}" target="contentSpace">休长假职工管理</a></li>
			<li><a href="@{Flup.index()}" target="contentSpace">随访信息管理</a></li>
			<li><a href="@{HealthArchives.index()}" target="contentSpace">健康档案管理</a></li>
			#{if admin.department.type == models.enums.DepartmentLevel.UNION}
			<li><a href="@{Department.index()}" target="contentSpace">部门信息管理</a></li>
			<li><a href="@{Administrator.index()}" target="contentSpace">部门人员管理</a></li>
			#{/if}
		</ul>
	</div>
	<div id="frameSpace">
		<iframe name="contentSpace" id="contentSpace" frameborder="0"></iframe>
	</div>
	<div id="footerSpace">Copyright © 2010-2012</div>
</div>
    	
<script>
	(function (win, $) {
		
		$(win).bind({
			resize: function (evt) {
				doLayout();
			}
		});
		
		$('#menuSpace a').bind({
			click: function () {
				$('#menuSpace a').removeClass('on');
				this.className = 'on';
			}
		})
		
		$(function () {
			
			
			doLayout();
		})
		
	})(window, jQuery);
	
	function doLayout() {
		var $win = $(window), fh = $win.height() - 88, fw = $win.width() - 170;
		
		$('#main').height($win.height());
		$('#menuSpace').height(fh);
		$('#frameSpace').width(fw).height(fh);
		$('#contentSpace').width(fw - 8).height(fh - 8);
		$('#footerSpace').css({
			top: fh + 48 + 'px'
		})
		
	}
</script>
