#{extends 'main.html' /}

<div id="mian_box">
	<div id="logo_box"></div>
	<div id="logo_userintbox">
		<div id="form_css">
			#{if error != null } ${error} #{/if}
			<form id="loginForm" action="/login" method="post">
				<input name="name" type="text" class="input_box" value="" />
				<input name="password" type="password" class="input_box" value="" />
				<input name="" type="button" onclick="doLogin()" class="btn_login" />
			</form>
		</div>
	</div>
	<div id="copyright">
		@2012-2012 神华准格尔能源有限责任公司
	</div>
</div>

<script>
	(function (win, $) {
		
		$(win).bind({
			resize: function (evt) {
				doLayout();
			}
		});
		
		$('#menuSpace a').bind({
			click: function () {
				$('#menuSpace a').removeClass('on');
				this.className = 'on';
			}
		})
		
		$(function () {
			
			
			doLayout();
		})
		
	})(window, jQuery);
	
	function doLogin() {
		$('#loginForm').submit();
	}
	function doLayout() {
		var $win = $(window), fh = $win.height() - 88, fw = $win.width() - 220;
		
		$('#main').height($win.height());
		$('#loginSpace').height(fh);
		$('#footerSpace').css({
			top: fh + 48 + 'px'
		})
		
	}
</script>
